<h1 class="swedfont"> Loans</h1>



<p-dataTable [rows]="10" [paginator]="true" [pageLinks]="5" selectionMode="single" exportFilename="loans"
             [rowsPerPageOptions]="[5,10,20]" [value]="loans" [globalFilter]="gb" #dt>


  <p-header>
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" placeholder="Global Filter">
      <button pButton label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
    </div>

  </p-header>



  <p-column field="value" header="Amount" sortable="true"></p-column>
  <p-column field="name" header="Name" sortable="true"></p-column>
  <p-column field="status" header="Status" sortable="true"></p-column>
  <p-column field="date" header="Date" sortable="true"></p-column>

</p-dataTable>


<button type="button" class="btn btn-primary buttonleft button">
  Patvirtinti
</button>
<button type="button" class="btn btn-primary button buttonmid">
  Reject
</button>
<button type="button" class="btn btn-primary buttonright button">
  Delete
</button>


