<h1 class="swedfont"> Vartojimo paskola</h1>
<table class="table table-striped basicfont admin-table"  >
  <thead class="swedbackground">
  <tr>
    <th><input type="checkbox" class="custom-checkbox"></th>
    <th>Suma</th>
    <th>Vartotojas</th>
    <th>Statusas</th>
    <th>Data</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let loan of loans">
    <th><input type="checkbox" class="custom-checkbox"></th>
    <td>loan.amount</td>
    <td>loan.fullname</td>
    <td>loan.status</td>
    <td>loan.date</td>

  </tr>
  <tr>
    <th><input type="checkbox" class="custom-checkbox"></th>
    <td>1500 </td>
    <td>Mykolas Banevicius</td>
    <td>Atmesta</td>
    <td>2017-02-22</td>
  </tr>
  <tr>
    <th><input type="checkbox" class="custom-checkbox"></th>
    <td>10000 </td>
    <td>Tadas Adomaitis</td>
    <td>Nepatikrinta</td>
    <td>2017-01-16</td>
  </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary buttonleft button">
  Patvirtinti
</button>
<button type="button" class="btn btn-primary button buttonmid">
  Atmesti
</button>
<button type="button" class="btn btn-primary buttonright button">
  Ištrinti
</button>


