<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <link rel="stylesheet" href="C:/Users/Mykolas/Desktop/projectFrontEnd/src/app/information/information.component.css" type="text/css"/>
  <title>Customer loan calculator</title>
</head>
<body>

<h1> Interest and fees</h1>
<h2> &#183; Fixed interest rate. Interest rate is determined individually for each customer depending on the amount of the loan, customer’s credit history, loyalty to the bank.  </h2>
<h2> &#183; Interest is paid from the total outstanding amount of the loan granted. </h2>
<h2> &#183;   A one-time agreement administration fee applied in the Internet bank – 1.5 % of the amount, min. EUR 22, whereas at a bank branch you would be subject to 1.5 % of the amount, min. EUR 35;</h2>
<h3>Example of calculation of the annual percentage rate of charge</h3>
<h4>If you applied for a consumer loan amounting to EUR 3 000 with credit agreement duration (and loan repayment term) of 5 years with the annual flat rate of 16 % and the following applicable fees: a minimum daily services fee (EUR 0.70 per month) for natural persons‘ as established by the Bank; agreement administration fee of EUR 45; monthly payments EUR 74 using annuity method, then, the total consumer credit annual percentage rate would be 18.8 %, and the total amount paid by the Consumer Loan receiver would be EUR 4491.
  <br>

  Calculations of the annual percentage rate of charge and the total amount payable by the borrower are based on assumptions that the total credit amount will be disbursed by the Bank to the borrower on the day of signing the credit agreement and that this amount will not be repaid until the end of the credit limit validity term, the parties to the credit agreement will fulfill their obligations arising from the credit agreement in observance of the terms and conditions established therein, the annual interest rate, the amount of fees and other charges will be the same as at the time of concluding the credit agreement and will apply further until the expiration of its validity. </h4>
</body>
