<!DOCTYPE html>
<html>
<body>
<h1>Customer loan calculator</h1>

<!--Slider-->
<form class="form-inline">
  <div>
    <label for="sliderLoanValue">Loan value &nbsp;</label>
    <input type="range" class="form-control" name="amountRange" id="sliderLoanValue" min="250" max="30000" value="0" oninput="this.form.amountInput.value=this.value" />
    <input type="number" class="form-control" name="amountInput" min="250" max="30000" value="250" oninput="this.form.amountRange.value=this.value" />
  </div>
</form>

<!--Radio buttons-->
<form method="post" action="#">

  <h4>I will take a loan</h4>
  <div>
    <div>
    <div>
      <input type="radio" name="choice-status" id="choice-status-value" required>
      <label for="choice-status-value">Alone</label>

      <div  class="reveal-if-active">
        <label for="yourMonthlyIncome">Your monthly income</label>
        <input type="range" id="yourMonthlyIncome" name="amountRange" min="250" max="30000" value="0" oninput="this.form.amountInput.value=this.value" >
        <input type="number" name="amountInput" min="250" max="30000" value="250" oninput="this.form.amountRange.value=this.value" />
    </div>
    </div>

      <input type="radio" name="choice-status" id="choice-status-value2">
      <label for="choice-status-value2">With my partner</label>



      <div class="reveal-if-active">
        <label for="yourMonthlyIncome2">Your monthly income</label>
        <input type="range" id="yourMonthlyIncome2" name="youramountRange" min="250" max="30000" value="0" oninput="this.form.youramountInput.value=this.value" >
        <input type="number" name="youramountInput" min="250" max="30000" value="250" oninput="this.form.youramountRange.value=this.value" /><br>

        <label for="yourPartnersMonthlyIncome">Partner's monthly income</label>
        <input type="range" id="yourPartnersMonthlyIncome" name="partnersamountRange" min="250" max="30000" value="0" oninput="this.form.partnersamountInput.value=this.value" >
        <input type="number" name="partnersamountInput" min="250" max="30000" value="250" oninput="this.form.partnersamountRange.value=this.value" />
      </div>
    </div>
  </div>


</form>

</body>
</html>
